/*
Color1: #101010	
Color2: #393E46
Color3: #00ADB5
Color4: #EEEEEE
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 0 0 0;
  text-align: center;
  font-family: "Rubik", sans-serif;
  background-color: #101010;
}

a {
  text-decoration: none;
  color: #eeeeee;

  font-size: 1.8rem;
  line-height: 2;
}

h1 {
  color: #eeeeee;
  font-size: 3.6rem;
  margin-bottom: 0;
}

h2 {
  margin-top: 5px;
  color: #eeeeee;
  font-size: 2.4rem;
  margin-bottom: 0;
}

h3 {
  color: #010202;
  font-size: 1.8rem;
}

h4 {
  color: #393e46;
  font-size: 1.4rem;
}

hr {
  max-width: 120rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

footer {
  height: 10rem;
  background-color: #eeeeee;
  width: 100vm;
}

img {
  max-width: 80rem;
  height: auto;
}

svg {
  width: 15rem;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  border: none;
  box-sizing: border-box;
  background-color: rgb(226, 226, 226);
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;

  box-sizing: border-box;
  border: none;
  background-color: rgb(226, 226, 226);
}

textarea {
  max-width: 100%;
  max-height: 100%;
  padding: 12px 20px;
  border: none;
  box-sizing: border-box;
  background-color: rgb(226, 226, 226);
}

/*----------- Reusable CSS -----------*/
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

/*----------- Header SECTION -----------*/
.toolbar {
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  margin-right: 6px;
  margin-left: 6rem;
}

.nav-btn {
  margin-right: 6rem;
}

.download-btn {
  text-decoration: none;
  font-size: 1.8rem;
  color: #eeeeee;
  padding: 1.2rem 5rem;
  background-color: #101010;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 white;
  transition: all 0.4s;
  border: none;
  margin-right: 10px;
}

.download-btn:hover,
.download-btn:active {
  cursor: pointer;
  box-shadow: 0 0 10px 0 black;
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  display: none;
}

.menu-icon {
  color: #eeeeee;
}
/*----------- Landing Page SECTION -----------*/
.intro-container {
  margin-top: 40vh;
  margin-bottom: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  animation: moveInBottom 2s;
}

.mobile-intro-container {
  display: none;
}

.mobile-link-container {
  display: grid;
  align-items: center;
}

.mobile-link-container a {
  font-size: 6rem;
  margin-bottom: 4rem;
  width: 50%;
}

/*----------- About Me SECTION -----------*/

.icons {
  stroke: #eeeeee;
  fill: #101010;
}

.aboutme-section {
  margin-bottom: 16rem;
  text-align: left;
}
.aboutme-containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-content: space-between;
  gap: 2.5rem;
  margin-top: 2.5rem;
}

.passions-container {
  background-image: linear-gradient(to bottom right, white, rgb(228, 227, 227));
  padding: 10px;
  box-shadow: 0 0 10px 0 white;
}

.RoboMasterLogo {
  width: 15rem;
}
/*----------- PROJECTS SECTION -----------*/

.project-title {
  color: #010202;
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
}
.projects-section {
  text-align: left;
}

.projects-grid {
  margin: 2.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.project-container {
  background-image: linear-gradient(to bottom right, white, rgb(228, 227, 227));
  text-align: left;
  padding: 24px;
  box-shadow: 0 0 10px 0 white;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-link {
  color: #333;
  font-size: 1.6rem;
}

.skills-section {
  margin-top: 16rem;
}
/*----------- SKILLS SECTION -----------*/
.skills-container {
  align-items: left;
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.skilldescription-container {
  background-image: linear-gradient(to bottom right, white, rgb(228, 227, 227));
  padding: 2.4rem;
  box-shadow: 0 0 10px 0 white;
  display: flex;
}

/*----------- CONTACT ME SECTION -----------*/
.btn {
  text-decoration: none;
  font-size: 1.8rem;
  color: #010202;
  padding: 1.2rem 5rem;
  background-image: linear-gradient(
    to bottom right,
    white,
    rgba(228, 227, 227)
  );
  border-radius: 10px;
  box-shadow: 0 0 10px 0 white;
  transition: all 0.4s;
  border: none;
}

.btn:hover,
.btn:active {
  cursor: pointer;
  box-shadow: 0 0 10px 0 black;
}

.btn2 {
  text-decoration: none;
  font-size: 1.8rem;
  color: #eeeeee;
  padding: 1.2rem 5rem;
  background-color: #101010;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 white;
  transition: all 0.4s;
  border: none;
  margin-right: 10px;
}

.btn2:hover,
.btn2:active {
  cursor: pointer;
  box-shadow: 0 0 10px 0 black;
}
.contactme-container {
  max-width: 120rem;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: white;
  box-shadow: 0 0 1rem white;
  z-index: 10;
  height: 50rem;
  display: flex;
  justify-content: center;
}
.contactme-form {
  padding: 4rem;
}

.left-container {
  background-color: white;
  height: 100%;
  width: 100%;
}

.form-title {
  margin-bottom: 1rem;
}

.right-container {
  background: url(../images/flower.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.form-item {
  margin-bottom: 1.8rem;
}
.close-modal {
  position: absolute;
  top: 0.7rem;
  right: 1.7rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}
/*----------- FOOTER SECTION -----------*/

.footer-container {
  margin-top: 10rem;
}
.footer-links-container {
  margin-top: 2rem;
}
.footer-links {
  font-size: 1.8rem;
  color: #393e46;
  margin-right: 5rem;
}

/*----------- Animations -----------*/

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(60rem);
  }

  80% {
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
