.activity-container {
  display: grid;
  grid-template-columns: 1fr 3fr;

  justify-content: space-between;
  gap: 2.5rem;
  margin-top: 2.5rem;
  text-align: left;
}

.activity-container2 {
  display: grid;
  grid-template-columns: 3fr 1fr;

  justify-content: space-between;
  gap: 2.5rem;
  margin-top: 2.5rem;
  text-align: left;
}

.activity {
  margin-bottom: 8rem;
}
img {
  width: 400px;
}
